td {
    height: 50px;
    width: 50px;
    border: solid 0.5px;
    text-align: center;
}

table {
    margin: auto;
    background-color:white;
}

p {
    text-align: center;
}

.title {
    text-align: center;
    font-size: 50px;
}

#button {
    height: 10%;
    width: 30%;
    border: solid 1.5px;
    border-radius:20%;
    text-align: center;
    float: left;
    margin: 9%;
    background: red;
    font-size: 20px;
}

.back {
    margin: auto;
}

.credits {
    text-align: center;
}

body {
    background-image:url(http://www.newdesignfile.com/postpic/2016/05/vector-store-icon_398749.jpg);
    background-size: 100%;
}

h6, summary {
    color:red;
}

.owners {
    text-align:center;
}

a {
    color: blue;
}
.gameB {
    margin-top: 50px;
    background-color: #00ff00;
    border-radius: 10px;
}   
